body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  display: grid;
  place-items: start;
}
.card__title,
.card__img {
  grid-area: 1 / 1;
}

.card__title {
  z-index: 1;
  color: #fff;
  padding: 0.6em 1.2em;
  background-color: #333;
  margin: 0;
}
